.page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page_button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: brown;
    color: aliceblue;
    border: none;
}

.page_button:hover {
    width: 170px;
    height: 50px;
    font-size: 16px;
}