.page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
}

.page_images {
    width: 500px;
    height: 300px;
}

.page_button {
    height: 30px;
    padding: 7px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    background-color: aquamarine;
}