.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box {
    width: 200px;
    height: 100px;
    border-radius: 7px;
    background-color: lightblue;
    margin: 20px;
}

.page_button {
    height: 30px;
    padding: 7px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    background-color: aquamarine;
}


.hidden {
    display: none;

}