.clicked {
    background-color: #fda6a6;
    font-weight: bold;
}

.page_stydent li {
    margin-left: 1.5em;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
}

.page_stydent-list  {
    margin-left: 1.5em;
}

.page_button {
    height: 30px;
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: aquamarine;
}

