.page_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;    
}

.page_form-input {
    height: 15px;
    padding: 7px;
    margin: 10px;
    border-radius: 5px;

    color: black;
}

.page_form-element {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.page_form-button {
    height: 30px;
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: aquamarine;
}