.highlight {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    color: rgb(255, 0, 0);
    font-size: 24px;
}


.page {
    font-size: 18px;
}

.page_button {
    height: 30px;
    padding: 7px;
    margin: 20px;
    border-radius: 5px;
    border: none;
    background-color: aquamarine;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}