.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.3s, color 0.3s;
    font-size: 24px;
}

.page_selest {
    height: 30px;
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
    border: none;

}