.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}


.navbar__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}


.navbar__item {
    margin-right: 20px;
}


.navbar__item:last-child {
    margin-right: 0;
}


.navbar__link {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


.navbar__link:hover {
    background-color: #555;
    color: #fff;
}